.header {
  height: 250px;
  width: 100%;
  background: var(--primary-color);
}
.top-header {
  height: 50px;
  width: 100%;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-color);
  padding: 0 30px;
}
.top-header-menu {
  display: none;
}
.top-header-logo {
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
}

.top-header-logo i {
  margin-left: 4px;
}

.top-header-text {
  font-size: 21px;
  font-weight: bold;
  color: var(--warning-color);
}
.top-header-phone {
  font-size: 21px;
  font-weight: bold;
}

.middle-header {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.middle-header-search-box {
  width: 70%;
  height: 60px;
  background: var(--white-color);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.middle-header-search-box input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 21px;
  padding-right: 20px;
  outline: none;
}

.search-box-btn {
  height: 100%;
  width: 20%;
  border: none;
  font-size: 21px;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  left: 0;
  padding: 0 17px;
  background: var(--success-color);
  color: var(--white-color);
  transition: all 0.3s ease;
  position: absolute;
}
.middle-header-shopping-card {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: var(--white-color);
  position: relative;
}
.bi-cart3 {
  margin-right: 4px;
  font-size: 32px;
}
.cart-notification{
  position: absolute;
  top: -10px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  background-color: var(--light-red-color);
  display: flex;
  align-items: center;
  justify-content: center;
} 
/* NAVBAR */
.navbar {
  height: 30%;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-color);
  padding: 0 30px;
}
.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.navbar-link {
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  color: var(--white-color);
}
.navbar-link:hover {
  color: var(--warning-color);
}
.navbar-close-icon {
  font-size: 32px;
  padding: 10px;
  text-align: left;
  width: 100%;
  color: var(--white-color);
  display: none;
}
.navbar-close-icon i {
  color: var(--light-red-color);
  cursor: pointer;
}

/* RESPONSIVE */
@media(max-width: 920px) {
  .top-header-menu {
    display: block;
  }
  .top-header-text {
    display: none;
    font-size: 16px;
  }
  .middle-header {
    flex-wrap: wrap;
    height: 80%;
  }
  .middle-header-search-box {
    width: 100%;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: -320px;
    background-color: var(--primary-color);
    height: 100vh;
    width: 320px;
    padding: 0;
    z-index: 99;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.5s ease;
  }

  .navbar-links {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .navbar-link {
    width: 100%;
    margin: 20px 0;
    padding-right: 20px;
  }
  .navbar-close-icon {
    display: block;
  }
}

@media(max-width: 520px) {
  .top-header,
  .middle-header {
    padding: 0 15px;
  }
  .top-header-phone {
    display: none;
  }
}